In [8]:
import sqlite3
import pandas as pd

employees = pd.read_csv(
    "../data/employees.csv",
    parse_dates=["hire_date"],
    dayfirst=True
)
departments = pd.read_csv("../data/departments.csv")
performance = pd.read_csv(
    "../data/performance.csv",
    parse_dates=["review_date"],
    dayfirst=True
)
attendance = pd.read_csv("../data/attendance.csv")
sales = pd.read_csv(
    "../data/sales.csv",
    parse_dates=["sale_date"],
    dayfirst=True
)

conn = sqlite3.connect("../data/workforce.db")

departments.to_sql("department", conn, if_exists="replace", index=False)
employees.to_sql("employee", conn, if_exists="replace", index=False)
performance.to_sql("performance", conn, if_exists="replace", index=False)
attendance.to_sql("attendance", conn, if_exists="replace", index=False)
sales.to_sql("sales", conn, if_exists="replace", index=False)

conn.close()


conn = sqlite3.connect("../data/workforce.db")

query = """
SELECT d.department_name,
       COUNT(e.employee_id) AS headcount,
       SUM(s.revenue) AS total_revenue
FROM department d
LEFT JOIN employee e ON d.department_id = e.department_id
LEFT JOIN sales s ON e.employee_id = s.employee_id
GROUP BY d.department_name;
"""

pd.read_sql(query, conn)

    department_name  headcount  total_revenue
0  Data & Analytics          4          54700
1           Finance          5         279600
2   Human Resources          4          32800
3  IT / Engineering          7         222300
4         Marketing          3          15600
5        Operations          2           1500